/*html{
    height: auto;
    min-height: 100%;
}


body{
    /* background:linear-gradient(#f72585, #3a0ca3); */
    /* background: linear-gradient(to right,#f72585, #3a0ca3); */
    /*color: #f1faee;
    /* background: linear-gradient(#24404d, #6dbff1, black); */
    /* background: linear-gradient(to bottom right,#f72585, #3a0ca3); */
    /* background: linear-gradient(145deg,#f72585, #3a0ca3); degrees=grados */
    /*background: radial-gradient(circle,#0d47a1,#64b4f5dc);
}*/



h1{
    text-align: center;
    text-shadow: 2px 2px 5px #a8dadc; /*derecha o izquierda, arriba o abajo, blur=difuminado*/
    color: #e63946;
}

div.contenedor{
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid #a8dadc;
    padding: 15px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px grey;/*derecha o izquierda, arriba o abajo, blur=difuminado,tamaño*/
    color: #457b9d;
    border-radius: 15px;
}

div.cabecero{
    background-color: #4cc9f0;
}

div.cuerpo{
    padding-top: 2px;
    font-size: 1.2em;
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgb(177,177,177);
}