h1{
    text-align: center;
    color:#e63946;
}

P{
    color:#457b9d;
    background-color: #f1faee;
    padding: 15px;
    border: 10px solid #1d3557;
    /*margin-top: 40px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;*/
    margin:40px 15px 20px 10px; /* 40=top/arriba; 15=right/derecho; 20=bottom/inferior; 10=left/izquierda*/
    /*margin:40px 10px 20px;  ESTO SIGNIFICA QUE MARGEN DERECHO E IZQ MIDEN LO MISMO*/
    /*margin:40px 10px ;  ESTO SIGNIFICA QUE MARGEN SUPERIOR E INFERIOR MIDEN LO MISMO*/
    margin:auto 50px; /*para centrar horizontal*/
    text-align: center;
}